.ulPag{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 5px;
    
}

.liPag{
    display: flex;
    margin: 5px;
    
}

.linkPag{
display: flex;
text-decoration: none;
padding: 15px 15px;
border: 1px solid black;
border-radius:  100%;
background-color: black;
color: white;

}